.grid-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  margin-bottom: 20px;
}

.block-title {
  background-color: #6fa2d0; // Light blue background for the block title
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  border-radius: 15px; // Rounded corners for the block title
}

.instructions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.instruction-item {
  background-color: #D3D3D3;
  color: black;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 15px; // Rounded corners for each instruction row
}
