#Tue Dec 09 04:21:13 BRT 2025
log_level=INFO
path_appium=D\:\\Projects\\AllinWeb\\ar-web-mobile
data_base=Access
db_pwd=XXXXXX
path_db=C\:\\ARWeb\\ARWeb
interaction_timeout_sec=60
version=AR Web v4.7g Beta Test
port_socket=54525
path_log=C\:\\ARWeb\\ARWeb\\Logs
default_instruction_stop_seconds=15
path_license=D\:\\Projects\\AllinWeb\\ar-web-mobile
path_report=C\:\\ARWeb\\ARWeb\\Reports
build=Build\: 01/10/2025
db_user=XXXXXX
browser=edge
page_update_timeout_sec=60
db_url=jdbc\:postgresql\://localhost\:5432/ar_web
path_priority=C\:\\ARWeb\\ARWeb
path_export=C\:\\ARWeb\\ARWeb\\Export
path_engine=D\:\\Projects\\AllinWeb\\ar-web-mobile
path_excel=C\:\\ARWeb\\ARWeb\\Excel
path_web_driver=D\:\\Projects\\AllinWeb\\ar-web-mobile\\driver
