#Thu Jul 02 06:54:29 BRT 2026
data_base=Access
db_pwd=XXXXXX
interaction_timeout_sec=60
path_db=D\:\\Projects\\AllinWeb\\ARWeb
port_socket=54525
path_license=D\:\\Projects\\AllinWeb\\ar-web-selenium
path_report=D\:\\Projects\\AllinWeb\\ARWeb\\Reports
page_update_timeout_sec=60
browser=edge
db_url=jdbc\:postgresql\://localhost\:5432/ar_web
navigation_time=2
path_excel=D\:\\Projects\\AllinWeb\\ARWeb\\Excel
path_web_driver=D\:\\Projects\\AllinWeb\\ar-web-selenium\\driver
playwright_selenium_fallback=true
url_plugins=
log_level=INFO
path_appium=D\:\\Projects\\AllinWeb\\ar-web-selenium\\appium
use_playwright=true
path_plugins=D\:\\Projects\\AllinWeb\\ar-web-selenium\\plugins
version=AR Web v4.2g Beta Test
path_log=D\:\\Projects\\AllinWeb\\ARWeb\\Logs
default_instruction_stop_seconds=15
build=Build\: 09/04/2026
db_user=XXXXXX
path_priority=D\:\\Projects\\AllinWeb\\ARWeb
path_export=D\:\\Projects\\AllinWeb\\ARWeb\\Export
path_engine=D\:\\Projects\\AllinWeb\\ar-web-selenium
